@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gowun+Dodum&family=Rubik+Puddles&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: 'Gowun Dodum', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select:none;
	overflow: hidden;
	@apply h-screen flex flex-col items-center;
}

pre {
	font-family: 'Gowun Dodum', sans-serif;
}

#root {
	width: 100%;
	height: 100vh;
	@apply max-w-screen-md;
}

.wave {
	padding: 3rem;
	border-radius: 40%;
	animation: move 5s infinite linear;
}

@keyframes move {
	25% {
		border-radius: 37.5%;
	}
	50% {
		border-radius: 45.5%;
	}
	100% {
		transform: rotate(360deg);
	}
}