@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gowun+Dodum&family=Rubik+Puddles&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select:none;
  background-image: url("../public/images/background.png");
  background-size: cover;
  background-position: center;
  @apply h-screen flex flex-col items-center;
}

pre {
  font-family: 'Gowun Dodum', sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
}

.popup {
  @apply w-fit min-w-[10rem] min-h-[10rem] bg-white absolute overflow-hidden rounded-lg shadow-lg;
}

.popup .title {
  @apply w-full bg-popupTitle flex justify-between items-center px-2 py-1;
}
.popup.disabled .title {
  @apply bg-popupTitle;
}
.popup .body {
  @apply px-2 py-1 overflow-auto;
}
